*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    
}

#left{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0,60% 0%, 40% 100%, 0% 100%);
    background-color: lightblue;
}

#right{
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width:100% ;
    clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 40% 100%);
    background-color: pink;
}

